
<div class="grid-panel">
  <div class="col-md-12 col-lg-12 col-xs-12 layoutDiv">
    <div class="col-md-12 col-lg-12 col-xs-12 nopadding wDt93">
      <div class="col-xs-12 col-md-12 col-lg-12 Mb_15">
        <div class="row" style="margin-top:5%;margin-bottom: 15px;">
          <div class="col-lg-12 col-md-12 col-xs-12 txtUpper">
            <h4 style="font-size: 18px;">sample - LEADERBOARD</h4>
          </div>
          <div class="row" style="margin-top:5px;">
            <div class="col-lg-2 col-md-2 col-xs-2">

            </div>
            <div class="col-lg-8 col-md-8 col-xs-8">
              <img src="../../assets/imgs/frame.png" style="width:100%;">
            </div>
            <div class="col-lg-12 col-md-2 col-xs-2 bTm30">
              <a href="/Tournamentsdetails">
                <i aria-hidden="true" class="fa fa-undo btn btn-white btn-xs pull-right Mt_5" title="Back">
                  back</i></a>
              <button class="btn btn-white btn-sm" id="loading-example-btn" style="float:right;background: #fff;"
                type="button">
                <i class="fa fa-refresh"></i> Refresh
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-table">
        <div class="tablescroll">
          <div style="margin-right: 15px;margin-left: 15px;">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <div class="row mT15">
                <div class="col-md-2 nopadding">
                  <div style="float:left;width:100%;">
                    <div class="div-scr-outer bRn">
                      <div class="g1Toprow toprowsText fleFt">
                        PLAYERS - CARTS
                      </div>
                    </div>
                    <div class="div-scr-outer2 bRn">
                      <div class="g1Secondrow toprowsText bGBlu"></div>
                    </div>
                    <div class="div-scr-outer2 bRn">
                      <div class="cartName toprowsText bGBlu">
                        watson.b.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 nopadding">
                  <div style="float:left;width:100%;">
                    <div class="div-scr-outer">
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">1</span>
                      </div>
                      <div class="g1Toprow toprowsText  wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">2</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">3</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">4</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">5</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">6</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">7</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">8</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">9</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">10</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">11</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">12</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">13</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">14</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">15</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">16</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">17</span>
                      </div>
                      <div class="g1Toprow toprowsText wDtH5p">
                        HOLE
                        <br>
                        <span class="holeNumber">18</span>
                      </div>
                      <div class="g1Toprow toprowsText" style="float:left;width:5%;padding: 13px 0px;">
                        SCORE
                      </div>
                      <div class="g1Toprow toprowsText" style="float:left;width:5%;padding: 13px 0px;">
                        RANK
                      </div>
                    </div>
                    <div class="div-scr-outer2">
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">5</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">2</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">3</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">5</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">5</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">5</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">3</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">3</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">4</span>
                      </div>
                      <div class="g1Secondrow pAd5">
                        PAR
                        <span class="parHdcpNumber">3</span>
                      </div>
                      <div class="g1Secondrow pAd5" style="background-color: #0e1129;"></div>
                      <div class="g1Secondrow pAd5" style="background-color: #0e1129;"></div>
                    </div>
                    <div class="div-scr-outer2">
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber parClass">5</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber birdieClass">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber bogeyClass">2</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber eagleClass">3</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber doubleBogeyClass">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber ThreeBogeyClass">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber albatrossClass">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">5</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">5</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">5</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">3</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">3</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">4</span>
                      </div>
                      <div class="g1Secondrow wDth5">
                        <span class="cartNumber">3</span>
                      </div>
                      <div class="g1Secondrow wDth5" style="background-color: #0e1129;">
                        <span class="cartNumber">33</span>
                      </div>
                      <div class="g1Secondrow wDth5" style="background-color: #0e1129;">
                        <span class="cartNumber">333</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
