<div class="container-fluid headNav">
  <div>
    <i (click)="meNuclick()" class="fa fa-th pAd4_8" aria-hidden="true"></i>
    <span class="plft8">Vantage Point</span>
    <div *ngIf="isAllopen " class="meNuStyle">
      <div class="pAd2_5">
        <span>Property Management</span>
      </div>
      <div class="row P015">
        <div class="meNuBtns">
          <div><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
          <div class="pAd10_0"><span>DASHBOARD</span></div>
        </div>
        <div class="meNuBtns">
          <div><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="pAd10_0"><span>TRACKER</span></div>
        </div>
        <div class="meNuBtns">
          <div><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
          <div class="pAd10_0"><span>ADVERTISING</span></div>
        </div>
      </div>
      <div class="pAd2_5">
        <span>Fleet Management</span>
      </div>
      <div class="row P015">
        <div class="meNuBtns">
          <div><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
          <div class="pAd10_0"><span>RETAIL</span></div>
        </div>
        <div class="meNuBtns">
          <div><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="pAd10_0"><span>TEE SHEET</span></div>
        </div>
        <div class="meNuBtns">
          <div><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
          <div class="pAd10_0"><span>TOURNAMENT</span></div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #4caf50;height: 27px;margin: 0 -22px;"></div>
</div>

