<form>
  <div class="col-xs-12 col-md-12 col-lg-12" style="display: block;">
    <div class="tablescroll">
      <div class="row tournament-align">
        <div class="panel-heading caRt">
          PLAYER CART &amp; HOLE ASSIGNMENT
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="form-group mB7">
              <label class="control-label fbld">Rider 1:</label>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="form-group mB7">
              <label class="control-label fbld">Rider 2:</label>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="form-group">
              <label class="control-label fw_bld">Cart #:
              </label>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="form-group">
              <label class="control-label fw_bld">Hole #:
              </label>
            </div>
          </div>
        </div>
        <div class="row ng-star-inserted">
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #1" type="text">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #2" type="text">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Cart--</option>
                <option value="12003">01</option>
                <option value="12004">02</option>
                <option value="12005">03</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Hole--</option>
                <option value="1">Hole 1</option>
                <option value="2">Hole 2</option>
                <option value="3">Hole 3</option>
                <option value="4">Hole 4</option>
                <option value="5">Hole 5</option>
                <option value="6">Hole 6</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row ng-star-inserted">
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #1" type="text">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #2" type="text">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Cart--</option>
                <option value="12003">01</option>
                <option value="12004">02</option>
                <option value="12005">03</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Hole--</option>
                <option value="1">Hole 1</option>
                <option value="2">Hole 2</option>
                <option value="3">Hole 3</option>
                <option value="4">Hole 4</option>
                <option value="5">Hole 5</option>
                <option value="6">Hole 6</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row ng-star-inserted">
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #1" type="text">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #2" type="text">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Cart--</option>
                <option value="12003">01</option>
                <option value="12004">02</option>
                <option value="12005">03</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Hole--</option>
                <option value="1">Hole 1</option>
                <option value="2">Hole 2</option>
                <option value="3">Hole 3</option>
                <option value="4">Hole 4</option>
                <option value="5">Hole 5</option>
                <option value="6">Hole 6</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row ng-star-inserted">
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #1" type="text">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #2" type="text">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">

                <option value="0">--Select Cart--</option>
                <option value="12003">01</option>
                <option value="12004">02</option>
                <option value="12005">03</option>

              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Hole--</option>
                <option value="1">Hole 1</option>
                <option value="2">Hole 2</option>
                <option value="3">Hole 3</option>
                <option value="4">Hole 4</option>
                <option value="5">Hole 5</option>
                <option value="6">Hole 6</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row ng-star-inserted">
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #1" type="text">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group mB7">
              <input class="form-control" maxlength="500" placeholder="Rider #2" type="text">

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Cart--</option>
                <option value="12003">01</option>
                <option value="12004">02</option>
                <option value="12005">03</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="form-group">
              <select class="form-control pLR6">
                <option value="0">--Select Hole--</option>
                <option value="1">Hole 1</option>
                <option value="2">Hole 2</option>
                <option value="3">Hole 3</option>
                <option value="4">Hole 4</option>
                <option value="5">Hole 5</option>
                <option value="6">Hole 6</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="row tournament-align">
      <div class="form-group">
        <div class="col-lg-2 col-md-2 col-xs-12" style="display: block;">
          <span style="font-weight: bold; cursor:pointer;" title="Add Player Carts" type="button">
            <i aria-hidden="true" class="fa fa-plus-circle" title="Add Player Carts"></i> Add Player Carts
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 mT25">
    <div class="form-group">
      <div class="row form-buttons" style="margin: 0;">
        <div class="col-xs-6 col-md-6 col-lg-6">
          <!-- <input class="btn btnGreen" title="Back to tournament" type="button" value="Back"> -->
          <a href="/Tournament" class="btn btnGreen">Back</a>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6" style="display: block;">
          <a href="/Tournamentsdetails" class="btn btnSubmit">Submit</a>
        </div>
      </div>
    </div>
  </div>
</form>