<div class="grid-panel" style="background:#ddd !important;">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="">
      <div class="col-md-12">
        <div class="grid-content clearfix">
          <div class="form-controls-panel" style="background-color: rgb(255, 255, 255); display: block;">
            <div class="row" style="background: #151515;color: #fff;padding: 6px 0px;margin-top:5%">
              <div class="col-lg-12">
                <div class="row" style="align-items: center;">
                  <div class="col-6">
                    <span class="pagename">Tournament Info</span>
                  </div>
                  <div class="col-6">
                    <a href="/Tournamentsdetails"><i aria-hidden="true"
                        class="fa fa-undo btn btn-white btn-xs pull-right" style="color:#fff;" title="Back">
                        back</i></a>
                    <i aria-hidden="true" class="fa fa-trash btn btn-white btn-xs pull-right"
                      style="color: rgb(255, 255, 255); display: block;" title="Delete Tournament"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 col-md-11">
                <dl class="dl-horizontal">
                  <dt>Tournament Name:</dt>
                  <dd>sample</dd>
                  <dt>Start Date Time:</dt>
                  <dd>06.12.2021 &nbsp;2:01 AM</dd>
                  <dt>End Date Time:</dt>
                  <dd>06.13.2021 &nbsp;3:01 AM</dd>
                  <dt>Round Length:</dt>
                  <dd>18</dd>
                </dl>
              </div>
              <div class="col-xs-1 col-md-1">
                <div class="col-lg-12" style="margin-bottom:10px;">
                  <span aria-hidden="true" class="fa fa-check" style="float:right;color: #5cb85c;font-size:26px;"
                    title="Active"></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
              <h4 style="color: green;font-weight: bold;text-transform: uppercase;font-size: 17px;">Carts Information
              </h4>
              <div class="col-lg-3 col-md-4 col-xs-12">
                <ul class="list-group">
                  <li class="list-group-item active" style="background-color: #555657;border-color: #555657;">Cart
                    # - 01</li>
                  <li class="list-group-item">Players - <span>a</span>&nbsp;<span>&amp; b</span></li>
                  <li class="list-group-item">Hole - 1</li>
                </ul>
              </div>
              <div style="text-align: center;">
                <span style="text-align: center;font-weight: bold;">No Records Found</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>