<div style="display: block;">
  <div class="row">
    <div>
      <div class="col-xs-12 col-md-12 col-lg-12" style="display: block;">
        <div class="row tournament-align" style="margin-top: 5%;">
          <div class="panel-heading" style="text-align:left;font-weight:initial;background:none !important;color:black;">
            PLAYER CART INFORMATION
          </div>
          <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="grid-content clearfix">
              <div class="grid-table">
                <div class="tablescroll">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td class="tswidth">
                          <span>
                            Riders
                            <span>(1 Total)</span>
                          </span>
                        </td>
                        <td class="text-center tswidth">
                          <span>

                          </span>
                        </td>
                        <td class="text-center tswidth">
                          <span>
                            Cart
                          </span>
                        </td>
                        <td class="text-center tswidth">
                          <span>
                            Start Hole
                          </span>
                        </td>
                        <td class="tswidth">
                          <span>
                            Actions
                          </span>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>
                            <span style="display: block;">a</span>
                          </td>
                          <td>
                            <span style="display: block;">b</span>
                          </td>
                          <td class="text-center">
                            <span style="display: block;">02</span>
                          </td>
                          <td class="text-center">
                            <span style="display: block;">2</span>
                          </td>
                          <td style="padding-left:0px;">
                            <i aria-hidden="true" class="fa fa-pencil" style="float: left; display: block;padding: 0rem .75rem;" title="Edit Player Cart"></i>

                            <i aria-hidden="true" class="fa fa-trash" style="float: left; display: block;padding: 0rem .75rem;" title="Delete Player Cart"></i>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row tournament-align">
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-xs-12" style="margin-top: 10px; display: block;">
              <span id="btnadd" style="font-weight: bold; cursor:pointer;" title="Add Player Carts">
                <i aria-hidden="true" class="fa fa-plus-circle" title="Add Player Carts"></i> Add Player Carts
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 25px;">
      <div class="form-group">
        <div class="row form-buttons">
          <div class="col-xs-6 col-md-6 col-lg-6">
            <input class="btn" style="float: right;background:#52a33a;color:#fff;padding:8px 85px;" title="Back to tournament" type="button" value="Back">
          </div>
          <div class="col-xs-6 col-md-6 col-lg-6" style="display: block;">
            <input class="btn" style="float:left;background:#52a33a;color:#fff;padding:8px 85px;" title="Finish" type="button" value="Finish">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
