/* You can add global styles to this file, and also import other style files */
body{
  background-color: #dddddd;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #848282, #848282);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #848282, #848282); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
}
